html,
body {
    margin: 20px;
    align-content: center;
}

.header {
    /* width: 100%; */
    border: 1px solid black;
    margin-bottom: 30px;
}

.img-responsive {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.content {
    padding: 30px;
    border: 1px solid black;
}

.submit {
    margin-top: 20px;
    border: 1px solid black;
}

.modal-body {
    /* text-decoration: underline; */
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

#name {
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

#photo {
    width: 100%;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pointdifferential {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}