a,
a:focus,
a:hover {
    color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    text-align: left;
    color: #fff;
}
.welcome{
    text-align: left
}
.headertext {
    font-size: 70px
}
.content,
.header {
    border: 1px solid black;
}

.content {
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}
.instructions {
    text-align: left;
}

.btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.modal-body {
    color: black;
}
